.invoicecard {
  width: 100%;
  background: white;
  border-radius: 8px;
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 120px 150px 1fr 120px 120px 20px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  color: inherit;
}

.invoicecard:hover {
  transform: translateY(-2px);
  border: 1px solid #7c5dfa;
}

/* ID */
.invoiceid {
  font-size: 15px;
  font-weight: 700;
  color: #0c0e16;
}

.invoiceid span {
  color: #7e88c3;
}

/* Date */
.invoicedate {
  font-size: 13px;
  color: #7e88c3;
}

/* Name */
.invoicename {
  font-size: 13px;
  color: #858bb2;
}

/* Amount */
.invoiceamount {
  font-size: 16px;
  font-weight: 700;
  color: #0c0e16;
}

/* STATUS BUTTON */
.statusbtn {
  width: 104px;
  height: 40px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
}

/* Paid */
.paid {
  background: rgba(51, 214, 159, 0.1);
  color: #33d69f;
}

/* Pending */
.pending {
  background: rgba(255, 143, 0, 0.1);
  color: #ff8f00;
}

/* Draft */
.draft {
  background: rgba(55, 59, 83, 0.1);
  color: #373b53;
}

/* dot */
.statusdot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
}

/* arrow */
.arrowicon {
  color: #7c5dfa;
  font-weight: bold;
}

/* TABLET */
@media (max-width: 900px) {
  .invoicecard {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "id amount"
      "date status"
      "name arrow";
    gap: 10px;
  }

  .invoiceid { grid-area: id; }
  .invoicedate { grid-area: date; }
  .invoicename { grid-area: name; }
  .invoiceamount { grid-area: amount; }
  .statusbtn { grid-area: status; }
  .arrowicon { grid-area: arrow; justify-self: end; }
}
.deletebtn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.deletebtn:hover {
  background: #dc2626;
}

/* MOBILE */
@media (max-width: 520px) {
  .invoicecard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "id"
      "name"
      "date"
      "amount"
      "status";
  }

  .arrowicon {
    display: none;
  }
}