body.dark {
  background: #141625;
}

body.dark .dashboard {
  background: #141625;
}

body.dark .invoicecard,
body.dark .modalbox,
body.dark .detailcard {
  background: #1e2139;
  color: white;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p {
  color: white;
}