@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans"; 
}

body {
  background-color: #161C21;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 0;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

